.github {
    background-color: #0d1117;
}

.github-head {
    padding: 20px;

}

.github-profile {
    width: 100px;
    border: 3px solid #30353c;
    border-radius: 50%;
    overflow: hidden;
}

.github-profile>img {
    width: 100%;
}

.github-name {
    font-size: 25px;
    margin-left: 20px;
}

.github-repository {
    height: 120px;
    padding: 20px;
    border-bottom: 2px solid #30353c;
}

.repository-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.repository-content {
    margin-left: 2px;
}

.calc {
    background-color: rgba(0, 0, 0, 0.813);
    backdrop-filter: blur(20px);
    width: 350px;
    height: 600px;
}

.calc-root {
    height: 100%;
}

.calc-result-area {
    height: 150px;
    padding: 20px;
    justify-content: end;
    align-items: end;
    font-size: 40px;
    letter-spacing: 10px;
}

.calc-button-area {
    flex: 1;
    padding-top: 20px;
}

.calc-row {
    align-items: center;
    justify-content: center;
}

.calc-row:first-child>.calc-button {
    background-color: #a5a5a5;
}

.calc-button:last-child,
.calc-row:first-child>.calc-button:last-child {
    background-color: #fea128;
}

.calc-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #333333;
    margin: 5px;
    font-size: 27px;
}

.calc-long {
    padding-left: 25px;
    width: 140px;
    border-radius: 150px;
    justify-content: start;
}

.calc-button:hover {
    background-color: #484848;
}

.calc-button:last-child:hover,
.calc-row:first-child>.calc-button:last-child:hover {
    background-color: #fdb353;
}

.calc-row:first-child>.calc-button:hover {
    background-color: #c4c1c1;
}